// MAIN SASS
// Developer: Daniel Espinoza
// Email: espinoza.dev@gmail.com
// Whatsapp: +5491127010154

// Imports
@import _mixins
@import _fonts

// SASS Code
html,
body
    height: 100%

body
    position: relative

    .back-to-top
        position: fixed
        bottom: 50px
        right: 50px
        text-decoration: underline
        transition: 1s ease
        display: none
        font-family: 'EBGaramond-Regular'
        cursor: pointer

        +mobile
            bottom: 25px
            right: unset
            left: 50px

        &.show
            display: block

        &.go-white
            color: #fff

#loader
    background-color: #fff
    bottom: 0
    position: fixed
    height: 100vh
    left: 0
    right: 0
    top: 0
    width: 100vw
    z-index: 1

#icon
    width: 75px
    height: 51px
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    background: url(../imgs/loader.svg) no-repeat center

header
    background: url(../imgs/main-bg.jpg) no-repeat center
    background-size: cover

header
.block
    position: relative
    width: 100%
    height: 100%
    height: 100vh
    min-height: 350px

    .logo
        width: 200px
        height: 22px
        position: absolute
        top: 50px
        left: 50%
        transform: translateX(-50%)
        background: url(../imgs/logo.svg) no-repeat center

        h1
            text-indent: -9999px

    .highlighted-text
        position: absolute
        top: 50%
        left: 50px
        transform: translateY(-50%)

        +phone
            width: 100%
            position: absolute
            left: 50%
            transform: translate(-50%,-50%)

        h3
            font-family: 'EBGaramond-Regular'
            font-weight: normal
            font-size: 100px
            line-height: 1

            +mobile
                font-size: 60px

            +phone
                font-size: 50px
                margin-left: 50px

            +small
                font-size: 40px

            em
                font-family: 'EBGaramond-Italic'

            strong
                font-family: 'EBGaramond-Bold'

    .logo-millas
        width: 300px
        height: 263px
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        background: url(../imgs/logo-millas.svg) no-repeat

        +mobile
            width: 200px
            height: 175px

        h2
            text-indent: -9999px

    &.black
        background: #000

        .highlighted-text h3
            font-size: 50px
            color: #fff

            +tablet
                font-size: 46px

            +mobile
                font-size: 32px

            +phone
                font-size: 29px

            +small
                font-size: 23px

    &.brown
        background: #CBAC9D

        .highlighted-text
            top: 50%
            left: 50%
            transform: translate(-50%,-50%)
            width: 100%

            h3
                font-size: 52px
                text-align: center
                color: #000

                +mobile
                    margin-left: 56px
                    text-align: left
                    font-size: 50px

                +phone
                    font-size: 46px

                +small
                    font-size: 33px

    &.contact
        +mobile
            height: 70vh

        .highlighted-text
            top: 150px

            +mobile
                top: 125px

            h3
                font-size: 46px

                +mobile
                    font-size: 40px
                    line-height: 1

                +phone
                    font-size: 30px

                +small
                    font-size: 26px

                a
                    font-family: 'EBGaramond-Regular'
                    font-weight: normal
                    color: #000
                    text-decoration: none

                strong
                    font-size: 40px

                    +mobile
                        font-size: 40px

                    +phone
                        font-size: 30px

                    +small
                        font-size: 26px

.container-fluid
    padding-left: 50px
    padding-right: 50px


    &.custom
        width: 100vw
        overflow-x: hidden
        padding-left: 0
        padding-right: 0

        .row
            padding-left: 50px
            padding-right: 50px

.work

    h3
        margin-top: 50px
        font-family: 'EBGaramond-Regular'
        font-size: 32px
        font-weight: normal
        text-align: center

        +mobile
            margin-top: 34px
            font-size: 28px
            text-align: left

        strong
            font-family: 'EBGaramond-Bold'
            font-size: 50px

            +mobile
                font-size: 36px

    .grid

        img
            max-width: 400px

            +tablet
                max-width: 100%

        .reversed
            display: flex
            flex-direction: column-reverse

            +mobile
                flex-direction: column

            .info
                margin-bottom: 50px

            &.xs-hide
                display: none

        .grid-block
            margin-bottom: 200px

            &:first-of-type
                margin-bottom: 200px

                +mobile
                    margin-bottom: 0px

            &.special-grid
                margin-top: 200px

                +mobile
                    margin-top: 25px

            &:last-of-type
                margin-bottom: 150px

                +mobile
                    margin-bottom: 50px

            &.grid-mobile-header

                +mobile
                    background: url(../imgs/grid-01.jpg) no-repeat center
                    background-size: cover

            +mobile
                margin-bottom: 100px

            .item
                margin-bottom:

                br

                    +phone
                        display: none

        .info
            font-size: 26px
            line-height: 1.5

            +tablet
                font-size: 22px

            +mobile
                font-size: 22px
                line-height: 1

            &:first-of-type
                margin-top: 25px

            &.centered
                text-align: center


                +mobile
                    text-align: left

                img
                    display: block
                    text-align: center
                    margin: 0 auto 25px

            span
                display: block
                font-size: 22px

            br

                +phone
                    display: none

.block-clip
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    clip: rect(auto, auto, auto, auto)

.block-content
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto

    .scroll-update-fix &
        animation: paintpatch 1s linear infinite

.block-fixed .block-content
    position: fixed

.lg-hide
    display: block

.xs-show
    display: none

+mobile
    .xs-hide
        display: none

    .xs-show
        display: block


+just-table
    .hidden-on-table
        display: none